.users {
  height: 85%;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1px rgb(0 0 0 / 0.2);
}

.users * {
  margin: 1em 0 0 1em;
}

.users__title {
  text-align: left;
}

.users__table {
  margin: 1em 0 0 2em;
  border-collapse: collapse;
}

.users__table td {
  color: #505050;
  font-weight: 600;
  padding: 1em 0;
}

.users__table th {
  padding: 1em 0;
  text-align: left;
}

.users__table tr {
  border-bottom: 1px solid #f9f9f9;
}

.users__table tr:last-child {
  border: none;
}

.users__btn {
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
}

.delete {
  color: #c73131;
  margin: 0 1em 0 0;
}

@media screen and (max-width: 768px) {
}
